
#imageSelectDialogContainer
    #imageSelectDialog 
        input#selectImageInput(type="file" name="fileSelector")
        input#setAltInput(type="text" name="alt" placeholder="Text alternatiu...")
        #imageSelectButtons
            button#imageSelectAdd(type="button") Afegir
            button#imageSelectCancel(type="button") Cancelar
