
#panel
    #tabs
        .tab Imatges  
        .tab Catàlegs
    #content
        .section#imagesSection
            .subsection#aboutImages 
                h3 Apartat de l'inici 
                .miniaturesContainer
                    // The miniatures are uploaded from js
                .buttonsContainer
                    button.addImageBtn(type="button") Afegir imatge 
            .subsection#catalogueImages 
                h3 Apartat del catàleg 
                .miniaturesContainer
                    // The miniatures are uploaded from js
                .buttonsContainer
                    button.addImageBtn(type="button") Afegir imatge
        .section#catalogsSection
            .subsection#catalogues
                h3 Catàlegs 
                .cataloguesContainer
                    
                    // The cataloges are uploaded from js
                .buttonsContainer
                    button.addCatalogueBtn(type="button") Afegir catàleg
